---
import ChallengeLayout from '../../../../../layouts/ChallengeLayout.astro';
---

<ChallengeLayout>
    <div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut ea sint dolor necessitatibus officiis aliquid voluptate distinctio voluptatem odio, perferendis asperiores debitis optio, cum dolorum quibusdam in qui consequatur quae.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti vitae quae eveniet facere fuga nesciunt aspernatur architecto accusantium reprehenderit officiis natus fugit reiciendis, ex, itaque optio, molestias dolore impedit voluptatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis rem ipsa maiores voluptatibus. Perspiciatis architecto dignissimos animi quia esse a, placeat, porro, labore nesciunt eligendi eum ex vero eveniet harum!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque asperiores accusamus odit et rerum, consequuntur id porro esse maxime corrupti dolores beatae reprehenderit necessitatibus itaque ipsum! Porro vel officiis voluptatem.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos accusamus unde, adipisci deleniti expedita architecto ab, fuga similique autem maiores illum saepe? Ab iusto hic, cum suscipit sint asperiores! Deleniti?
        </div>

        {/* I copy this classes from ShadCDN button */}
        <button class="bg-primary text-primary-foreground hover:bg-primary/90 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 my-4">
            Open/Close
        </button>
        <p class="text-sm text-muted-foreground">Note: The content should be initially closed, only a few lines showing... after click in Open, show the entire content</p>
    </div>
</ChallengeLayout> 
