---
import ChallengeLayout from '../../../../../layouts/ChallengeLayout.astro';
---

<ChallengeLayout>
    <div class="flex flex-col gap-3">
        <p>Pass this data to the another page that should be redirected after press "NEXT"</p>
        <input class="border-2 max-w-52" placeholder="Data to be sent"/>
        <a href="ignore/2">Next</a>
    </div>
</ChallengeLayout> 
