---
import Layout from '@/layouts/Layout.astro';
import ChallengesTable from "@/components/project-use/ChallengeTable"
import {type Challenge} from '@/components/project-use/ChallengeTable/columns'

const chalanges = await Astro.glob('./challenges/**');

const chalangesData: Challenge[] = chalanges.map(({url}) => {
	const urlTyped = typeof url === 'string' ? url : ""
	const  [,,challengeName, type, stack] = urlTyped.split("/")
	return {challengeName, type, stack, url: urlTyped}
})

// How should I handle with problems that uses more than one page? 🤔
---

<Layout title="Challenges - Frontend">
	<main>
		<h1 class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[3.75rem] text-center mb-3">Frontend Challenges</h1>
		<p class="mx-auto max-w-[700px] text-gray-500 md:text-xl dark:text-gray-400 text-center mb-3">
			Learn and have fun with this craft design Frontend Challanges
		</p>
		<p class="mx-auto max-w-[700px] text-gray-500 dark:text-gray-400 text-center">
			By developer for developers
		</p>
		<ChallengesTable challengesData={chalangesData}/>
	</main>
</Layout>
