---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
---

<Layout title="Welcome to Astro.">
	<main class="h-screen">
		<h1>Frontend Challanges</h1>
		<Button>Button</Button>
		<ul>
			<li>Soma Bugada: <a href="/desafios/soma-bugada/vanila-js">JavaScript puro</a></li>
		</ul>
	</main>
</Layout>
