---
import Layout from '@/layouts/Layout.astro';
import {columns} from '@/components/project-use/Tables/HomePageTable/columns'
import { DataTable } from '@/components/project-use/Tables/data-table';
import {challengeBlobToGroupedByName, type AstroInstance} from '@/project-use/challangeUtils.ts'

const challengesBlob: AstroInstance[] = await Astro.glob('/src/pages/challenges/**');
const challengesGroupedByName = challengeBlobToGroupedByName({challengesBlob})
---

<Layout title="Challenges - Frontend">
	<main>
		<h1 class="lg:leading-tighter text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[3.75rem] text-center mb-3">Frontend Challenges</h1>
		<p class="mx-auto max-w-[700px] text-gray-500 md:text-xl dark:text-gray-400 text-center mb-3">
			Learn and have fun with this craft design Frontend Challanges
		</p>
		<p class="mx-auto max-w-[700px] text-gray-500 dark:text-gray-400 text-center">
			By developer for developers
		</p>
		<div class="container mx-auto py-10">
			<DataTable columns={columns} data={challengesGroupedByName} />
		</div>
	</main>
</Layout>
