---
import Layout from '@/layouts/Layout.astro';
import ChallengesTable from "@/components/pages/home-page/ChalengeTable"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Frontend Challenges</h1>
		<ChallengesTable />
	</main>
</Layout>
