---
import ChallengeLayout from '../../../../../layouts/ChallengeLayout.astro';
import ExpandableReactSolution from '@/components/challenges/expandable/ExpandableReactSolution'
---

<ChallengeLayout>
    <ExpandableReactSolution initialHeight='3rem' client:load>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut ea sint dolor necessitatibus officiis aliquid voluptate distinctio voluptatem odio, perferendis asperiores debitis optio, cum dolorum quibusdam in qui consequatur quae.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti vitae quae eveniet facere fuga nesciunt aspernatur architecto accusantium reprehenderit officiis natus fugit reiciendis, ex, itaque optio, molestias dolore impedit voluptatibus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis rem ipsa maiores voluptatibus. Perspiciatis architecto dignissimos animi quia esse a, placeat, porro, labore nesciunt eligendi eum ex vero eveniet harum!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque asperiores accusamus odit et rerum, consequuntur id porro esse maxime corrupti dolores beatae reprehenderit necessitatibus itaque ipsum! Porro vel officiis voluptatem.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos accusamus unde, adipisci deleniti expedita architecto ab, fuga similique autem maiores illum saepe? Ab iusto hic, cum suscipit sint asperiores! Deleniti?
        </div>
    </ExpandableReactSolution>
</ChallengeLayout> 
